<div class="jumbotron bLanding">
  <div class="container">
    <h1>BLOG<span class="glyphicon glyphicon-pencil"></span>N</h1>
    <h3>Your own personal blogging engine to write blogs.</h3>
    <br>
    <%= link_to "<span class='glyphicon glyphicon-fire'></span>".html_safe + ' Fire it up', '/blog', :class =>"btn btn-lg btn-primary btnFire"%>
  </div>
</div>