// Place all the styles related to the Boom controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@font-face { font-family: goudy_bookletter_1911; src: font-url('goudy_bookletter_1911.otf'); } 
body
{
	background-color:#eee;
	
}
.bUser
{
    color:rgba(255,100,100,0.8);
}
.bLanding
{
    position:fixed;
    width:100%;
    height:100%;
    background-image:url(image_path('Keyboard_and_pen.JPG'));
    margin:-100px;
    margin-left:-273px;
    background-size:cover;
    h1
    {
        margin-top:100px;
        color:#428bca;
    }
}
.btnFire
{
    color:#f0ad4e;
    :hover
    {
        color:#eea236;
    }
}
.navbar-btn.btn-xs
{
    margin:-5px;
    padding:5px;
}
#user_nav
{
    margin-top:100px;
    padding:20px;
}
.bNewPostTitle
{
    font-size:18px;
}
.bErrorList
{
    padding-left:20px;
    padding-right:20px;
}
.bBody
{
    display:block;
    padding:10px 40px 10px 40px;
    background-color:rgba(200,200,200,0.2);
}
.Mid
{
	margin-left: 20%;
	margin-right: 20%;
	margin-top:100px;
}
.bNewPost
{
	margin:10px;
}
.blog_post
{
	background-color:#ffffff;
	padding:10px;
	border-radius:10px;	
}
.bTitle a
{
	text-decoration: none;
	padding:0;
	text-transform:uppercase;
	font-family: goudy_bookletter_1911;
}
.blog_post_footer
{
	color:#888;
}
.bTimeStamp
{
	color:#f44;
}
#blog_share_bar
{
	margin-top:10px;
	width:100%;
}
.social_button
{
	display:block-inline;
}

.bNew
{
	color:#428bca;
}
.form-control
{
	margin-bottom:10px;
}

.bCreatePost
{
	border-radius:10px;
	background-color:white;
	padding:10px;
}
.bOptions
{
	display:block-inline;
	width:40%;
	margin:10x;
	padding:5px;
}
.bOptionsTag
{
	width:60%;
	.form-control
	{
		width:60%;
	}
}
.bTag
{
	display:inline;
}
.bFoot
{
    float:right;
}
.bGlyph
{
}
.blog_post_tip
{
	font-size:14px;
	display:block;
	text-align:left;
	width:100%;
	margin-bottom:10px;
	padding:10px;
}

.bRichText
{
	width:100%;
	min-height:250px;
}
